<div class="login-wrapper">
    <h1>Match Assign</h1>
    <form class="login-form" action="/" method="GET">
        <div data-validate="Please enter your name">
            <input type="text" name="name" placeholder="Full Name" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <input type="submit" name='submit' value="Sign in" />
        </div>
    </form>
</div>